<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Dashboard</title>
  </head>

  <body>
    <div class="container">
      <h2>Uploaded files</h2>

      <% if (files.length === 0) { %>
      <p>No files uploaded yet</p>
      <% } else { %>
      <ul>
        <% files.forEach(f => { %>
        <li>
          <!-- LINK -->
          <a href="/video/<%= f.id %>">
            <b><%= f.fileName %></b>
          </a>
          (<%= f.category %>)
        </li>
        <% }) %>
      </ul>
      <% } %>
    </div>
  </body>
</html>
