<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>View File</title>
  </head>

  <body>
    <div class="container">
      <h2><%= file.fileName %></h2>

      <% if (file.category === "video") { %>
      <video controls width="700">
        <source src="<%= file.path %>" />
      </video>
      <% } else { %>
      <img src="<%= file.path %>" width="500" />
      <% } %>

      <p style="margin-top: 20px">
        <a href="/dashboard">⬅ Back to dashboard</a>
      </p>
    </div>
  </body>
</html>
